h1{
  font-style: italic;
}

h3{
  font-style: italic;
}
body{
  background-color: ffe6e6;
}
hr{
  background-color: White;
  border-color: 999b84;
  border-width: 200px;
  border-style: none;
  border-top: dotted;
  width: 10%;
}
